.login-content {
  --background: #ffffff;
  font-family: 'Avenir', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0;
}

.logo-container {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 12px;
}

.logo-img {
  width: 60%;
  height: 100%;
}

.josenianlink-text {
  font-family: 'Avenir', sans-serif;
  font-size: 22px;
  font-weight: 900;
  margin-top: 8px;
  color: #2c543f;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.15);
  letter-spacing: 1px;
}
.link-text {
  color: #f4c014; // Yellow gold
  margin-left: 2px;
}

.login-container {
  width: 100%;
  height: 100%;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  background: #2c543f; // USJ-R dark green
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  
}

.login-card {
  width: 100%;
  max-width: 400px;
  background: #2c543f; // USJ-R dark green
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 32px 24px;
  box-shadow: 0 -4px 20px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.form-item {
  
  --background: #ffffff !important;
  --border-radius: 12px;
  --padding-start: 12px;
  margin-bottom: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

.input-label {
  font-weight: 500;
  color: #2c543f;
}

.input-icon {
  color: #2c543f;
  font-size: 20px;
}

.custom-input {
  font-size: 15px;
  color: #000 !important;
  background: transparent !important;
}

.login-button {
  --background: #2c543f;
  --color: white;
  font-weight: bold;
  height: 44px;
  border-radius: 24px;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.register-button {
 
  font-weight: bold;
  margin-top: 12px;
  text-transform: none;
}
