<ion-header>
  <ion-toolbar style="--background: #2c543f;">
  </ion-toolbar>
</ion-header>
<div class="logo-container">
  <img src="assets/usjrlogo.png" alt="USJ-R Seal" class="logo-img" />
  <h1 class="josenianlink-text">JOSENIAN<span class="link-text">LINK</span> 🔗</h1>
</div>




<ion-content class="login-content">
  <div class="login-container">
    <div class="login-card">
      <ion-item class="form-item" lines="full">
        <ion-icon name="mail" slot="start" class="input-icon"></ion-icon>
        <ion-label position="floating" class="input-label">Email Address</ion-label>
        <ion-input 
          [(ngModel)]="email" 
          type="email" 
          required
          class="custom-input"
          placeholder="Enter your email">
        </ion-input>
      </ion-item>

      <ion-item class="form-item" lines="full">
        <ion-icon name="key" slot="start" class="input-icon"></ion-icon>
        <ion-label position="floating" class="input-label">Password</ion-label>
        <ion-input 
          [(ngModel)]="password" 
          type="password" 
          required
          class="custom-input"
          placeholder="Enter your password">
        </ion-input>
      </ion-item>

      <div class="action-buttons">
        <ion-button 
          expand="block" 
          style="--background: #f4c014; color: 2c543f;" 
          class="login-button"
          (click)="login()">
          <ion-icon name="log-in" slot="start"></ion-icon>
          Login
        </ion-button>
        
        <ion-button 
          expand="block" 
          fill="outline" 
          color="dark" 
          class="register-button"
          routerLink="/register">
          <ion-icon name="person-add" slot="start"></ion-icon>
          Sign Up
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>